.generatedImg{
    background-image: url("../Testimg.png");
    background-repeat: no-repeat;

    /* center div */
    margin: auto;

    width: 500px;
    height: 500px;
}

.generatedImg h1{
    margin: 1;
}
.generatedImg h3{
    margin: 1;
}
.generatedImg p{
    margin: 1;
}

.container {
    position: relative;
    text-align: center;
}
  
.h1blur{
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;

    font-family: sans-serif;

    text-align: center;

    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);

    max-width: 450px;

    position: absolute;
}

.h3blur{
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;

    font-family: sans-serif;

    text-align: center;

    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);

    max-width: 450px;


    position: absolute;
}

.otherblur{
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;

    font-family: sans-serif;

    text-align: center;

    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);

    max-width: 450px;
    padding: 0;


    position: absolute;
}

#mydiv {
    position: absolute; 
}
  
#mydivheader{
    padding: 5px;
    cursor: move;
    z-index: 10;
}

#mydiv2header{
    padding: 5px;
    cursor: move;
    z-index: 10;
}

#mydiv3header{
    padding: 5px;
    cursor: move;
    z-index: 10;
}